/60pages.pdf
/blank.aux
/blank.out
/blank.log
/blank.pdf
/cover.aux
/cover.log
/cover.out
/cover.pdf
/coverspread.pdf
/logo.pdf
/page1.pdf
/page1_and_2.pdf
/page1_nologo.pdf
/page1_trans.pdf
/page2.pdf
/page2_unrotated.pdf
